<!doctype html>
<html lang = "en" dir="ltr" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="text/xml; charset=utf-8" />
  <title>Before we go</title>
  <link rel="stylesheet" type="text/css" href="index.css" /> 
<link href='http://fonts.googleapis.com/css?family=EB+Garamond|Ubuntu|Ubuntu+Condensed|Terminal+Dosis|Rokkitt|Salsa' rel='stylesheet' type='text/css'>
</head>
  <body>    
    <header>
      <h1><img src="assets/logo1.png" /></h1>
    <div id="container">
	 <ul>
	   <li><a href="Home.html">HOME</a></li>
	   <li><a href="latest.html">LATEST</a></li>
	   <li><a href="Design.html">DESIGN</a></li>
	   <li><a href="Technology.html">LISTS</a></li>
           <li><a href="http://www.flickr.com/photos/41757273@N05/">PHOTOGRAPHY</a></li>
	   <li><a href="lists.html">ABOUT ME</a></li>
	</ul>
       </div>
    </header>
   <div id="articlecontainer">
      <article> 
      	<h1>Drunk Turkey Edition</h1>
        <h2>By Elizabeth Tabler</h2>
	  <blockquote>
	   "Dear Lord, I've been asked, nay commanded, to thank Thee for 
	    the Christmas turkey before us... a turkey which was no doubt a lively, 
	    intelligent bird... a social being... capable of actual affection... 
	    nuzzling its young with almost human-like compassion. Anyway, it's
	    dead and we're gonna eat it."
	  <h3>Berke Breathed, Bloom County</h3>
	   </blockquote>          

          <div id="columnleft">
	      <p>		
		Turkey, turkey, turkey. I love me some turkey. I will even 
		eat it the white trash way with miracle whip and cranberry sauce. 
		Oh yes. I love me some turkey. Alas, though, I have never attempted 
		the very American feat of cooking one. I suppose cooking ones' own 
		turkey from start to finish, is a rite of passage. In my 
		own opinion all rites of passage should include the 
		injestation of copious amounts of alcohol. It is only fair. For my first turkey, 
		I have decided to  make a drunken turkey. Helloooooo whiskey and let 
		the Hilarity ensue.<br>
	      </p>
	      <p>
		The first problem with cooking ones' own turkey, is you have to 
		stick your entire arm up the ass end of the bird and pull out 
		the innards. They are tidily bagged and ready for you. Some people 
		may be grossed out by this prospect. They may feel that it is unlady
		like to shove your arm up the ass end of a defenseless bird. Let it
		be known that I am not one of those people. I am the type of person 
		that shoves their arm up the ass of a bird with a giggle. I believe 
		that it is my right and duty to do honor to this fallen feathered 
		friend by shoving my hand up its ass end. The next step in the turkey 
		preparation process is slathering of the naked bird with excessive 
		amounts of butter. This process I like to call creaming the bird. 
		Much like frosting a cupcake. Thematically, this is a drunken bird, 
		I feel the need to both take a swig of whiskey, 
		and dump(inject) some whiskey in the bird. Cause nothing says loving like 
		drunken creamed turkey. The next step in this glorious process, is to 
		heat up the oven. I lived in an, shall we say, older, shanty-like home in a
		misunderstood neighborhood of Las Vegas.<br>
	       </p>
	      </div>
	    <div id="columnright">
	      <p>
		The oven is original to the house,
		so technically its older then before I was a gleam in my fathers eye. It's
		pretty damn old. I didn't know this before hand, but it only can get to about
		200 degrees on a hot summer day. The turkey cooking process might take a little 
		longer then anticipated. So Karen (who is my accomplice in this endeavor) and I 
		take the creamed and dripping bird and stick it in the oven.<br>
	      </p>
	      <ul>
		<li><bold>1 Hour goes by:</bold> The bird really just looks annoyed. We decide 
		to curb its annoyance with both alcohol and a few swigs for us.<br></li>
	        <li><bold>2 hours go by:</bold> The bird has taken on the look of a sunburn and
		is still completely raw inside. So we feed it more alcohol.</li>
	        <li>3-4 hours:</bold> We forget to check the bird because of copious amounts 
		of drinking done by us.</li>
	        <li><bold>4-6 hours:</bold> We have completely given up on the whole oven process 
		and are hacking hunks of turkey flesh off of the carcass and cooking it in a big 
		pan on the stove. We add more alcohol so it doesn't burn.</li>
		<li>After 8 hours of cooking, I am spent. The turkey is resembling something 
		from a SPAM factory, but edible. Tastes like whiskey with the occasional bits 
		of turkey thrown in for good measure.</li>
	      </ul>
	     </div>          
	</article>
</div>
  <div id="footerbox">
       <div id="footerleft">
        <div id="subfooterleft"> 
         <h1> WHAT AM I READING RIGHT NOW?</h1>
           <h2><a href="http://www.amazon.com/gp/product/074327704X/ref=s9_simh_gw_p14_d0_g14_i1?pf_rd_m=} TVPDKIKX0DER&pf_rd_s=center-2&pf_rd_r=07NN7MW6XQ825HMZ4Q99&pf_rd_t=101&pf_rd_p=470938631&pf_rd_i=507846"><img src="assets/last-call.jpg"alt="Last Call: The Rise and Fall of Prohibition" /></a></h2>
            <p>"A brilliant, authoritative, and fascinating history of America’s most puzzling era, 
                the years 1920 to 1933, when the U.S. Constitution was amended to restrict one of 
                America’s favorite pastimes: drinking alcoholic beverages." 
         </div>  
        <div id="subfooterleft2">
              <h3>WHAT AM I LEARNING?</h3>
                <p>Learning to Juggle, badly.</p>
         </div>
       </div>
       <div id="footerright">
         <h1>ABOUT ME</h1>
           <h2><div class="image"><img name="beth" src="assets/beth.jpg" /></div></h2>
               <p>Elizabeth Tabler is a web designer and peruser of to many life lists. She occasionally dabbles in art, screeches in music, and loves all 
                  things peacock.</p> 
               <div id="socialbox">
                 <ul class="social">
                   <li class="Twitter">
                     <a rel ="Me" href="https://twitter.com/#!/BethTabler"><img src="assets/twitter.png"</a>
                   </li>
                   <li class="Facebook">
                     <a rel ="Me" href="https://www.facebook.com/elizabeth.tabler"><img src="assets/facebook.png"</a>
                   </li>
                   <li class="Linked In">
                     <a rel ="Me" href="http://www.linkedin.com/profile/edit?goback="><img src="assets/linkedin.png"</a>
                   <li class="flikr">
                     <a rel ="me" href="http://www.flickr.com/photos/41757273@N05/"><img src="assets/flickr.png"</a>
                   </li>
                 </ul>
               </div>
       </div> 
       <footer>
       &copy; 2012 BEFORE WE GO
      </footer>
  </div>
</body>
</html>
